@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 
/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color:#424242;
}
/* dark-03 */
.text-light-gray{
    color:#727272;
}
.bg-light{
    background-color:rgba(255,144,14,0.1);
}
.btn-primary{
    background-color:#FF900E;
    color:white;
    padding:20px 25px;
    border:none;
    border-radius:8px;
    font-size:1.25rem;
    font-weight:600;
}
main{
    max-width:1144px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* header style  */


/* nav related style  */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.item{
    list-style: none;
    margin-right:30px;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.navbar .banner{
    max-width: 1440px;
    margin:  0 auto;
}

/* banner related style */
.banner-content{
max-width:850px;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.75rem;
}
.banner-img{
    width: 100%;
}

/* teams and feature section style  */
.team{
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width:530px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#normal{
    font-weight:400;
    color: #727272;
}
.black{
   color: black;}
.orange{
    color: #FF900E;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    line-height: 16px;
}
.fact-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
.fact-card{
    border: 2px solid #000000;
    width: 240px;
    height: 240px;
    border-radius: 8px;
}

/* responsive */
@media screen and (max-width:576px) {
    .navbar,.nav-links,.team{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns:repeat(1,1fr);
    } 
    .our-features{
        margin-left: 20px;
    }  
}
/* medium responsive  */
    @media screen and (min-width:577px) and (max-width:992px)   {
        .team{
            flex-direction: column;

        }
        .our-features{
            margin:50px auto;
        }
    
    }